<tr>
  <td class='notebook'>
    <span class='content'><%= notebook.title %></span>
    <span class='timestamp'>Last updated <%= time_ago_in_words(notebook.updated_at) %> ago.</span>
  </td>
  <td class='action'>
    <%= link_to 'show', notebook, :class => 'right' %>
  </td>
  <td class='action'>
    <%= link_to 'edit', edit_notebook_path(notebook), :class => 'right' %>
  </td>
  <td class='action'>
    <%= link_to 'delete', notebook, :method => :delete, 
                                    :confirm => 'You sure?',
                                    :title => notebook.title, :class => 'right delete' %>
  </td>
</tr>
