<%= form_for @notebook do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<div class='field'>
  <%= f.label :title %>
  <%= f.text_field :title, :size => 80 %>
</div>
<div class='actions'>
  <%= f.submit %>
</div>
<% end %>
