<h2><%= @notebook.title %></h2>
<p><strong>Tags</strong>
  <% @notebook.tags.each do |tag| %>
    <%= render 'tags/tag', :tag => tag.name %>
  <% end %>
</p>
<span class='left'><%= link_to 'new note', new_notebook_note_path(@notebook) %></span>
<span class='right'><%= link_to 'edit', edit_notebook_path(@notebook) %></span>
<span class='clear right'>
  <%= search_form_for @search, :remote => true, :url => notebook_path(@notebook) do |f| %>
    <%= f.text_field :content_cont %>
    <%= f.submit %>
  <% end %>
</span>
<span class='paginator'><%= paginate @notes, :remote => true %></span>
<table class='notes' summary='User notes'>
  <%= render @notes, :notebook => @notebook %>
</table>
