%header
  %nav.round
    %ul
      %li= link_to "Home", root_path
      - if signed_in?
        %li= link_to "Notebooks", notebooks_path
        %li= link_to "Tags", tags_path
        %li= link_to "Profile", current_user
        %li= link_to "Sign out", signout_path, :method => :delete
      - else
        %li= link_to "Sign in", signin_path
